@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="login-container">
            <h2>Забыли пароль? Не беда</h2>
            <p>На вашу электронную почту отправили письмо с подтверждением. Проверьте входящие, спам или удаленные.</p>
            <a class="" asp-controller="User" asp-action="Login">Войти</a>
        </div>
    </main>
</div>
